<%- include("header", {}) %>
<div class="container">
    <h1><%= title %></h1>
    <p>Bienvenido a la tienda <%= title %></p>
    <p>Aquí podrá encontrar los mejores embutidos y productos gastronómicos de la región.</p>
    <p>Visite <a href="/tienda">nuestra tienda</a> para ver los productos que tenemos.</p>
    <img src="/images/embutidos.jpg" alt="Imagen con los embutidos de la tienda" width="750" height="475">
</div>
<%- include("footer", {}) %>
