<%- include("header", {}) %>
<div class="container">
    <h1>Tienda</h1>
    <p>Aquí puede encontrar nuestros mejores productos</p>
    <div>
        <h2>Cecina</h2>
        <p>La mejor cecina.</p>
        <img src="/images/cecina.jpg" alt="Imagen de cecina" width="500" height="500">
    </div>
    <div>
        <h2>Chorizo</h2>
        <p>El mejor chorizo</p>
        <img src="/images/chorizo.jpg" alt="Imagen de chorizo. Rico, rico." width="500" height="500">
    </div>
    <div>
        <h2>Lomo</h2>
        <p>Qué bueno está este lomo.</p>
        <img src="/images/lomo.jpg" alt="Imagen de lomo" width="500" height="500">
    </div>
    <div>
        <h2>Pimientos</h2>
        <p>No podrían faltar.</p>
        <img src="/images/pimientos.jpg" alt="Imagen de un bote de pimientos" width="500" height="499">
    </div>
</div>
<%- include("footer", {}) %>
